extends layout
block content
	.fixbar
		.innerbar
			h1 
				a(href='/')
					img(src="/images/logo.png")
			//-var user_id = user_id
				p= user_id
			-if(con==0)
				ul.login
					li(onclick="login('login_box')") 登入
					li(onclick="login('register_box')") 註冊
					li
						a(href='/forum') 討論區
			-else if(con==1)
				ul.login
					li
						a(href='/logout') 登出
					li 	
						a(href='/')= nickname
					li
						a(href='/forum') 討論區
			.clear
	.form
		#form_title
			h2= title
			h3
				a(href='#' onclick='') 最新
			h3
				a(href='#' onclick='') 熱門
			-if(con==1)
				button(onclick="startTopic('topic_box')") 發表
			.clear
		ul(style='cursor:default;')
			li.number 編號
			li.comment 主題
			li.title 內容
			li.author 作者
			li.data 日期
		-var i=1;
		-for m in docs
			-var oid=m._id
			-var date=m.TIME;//發文時間
			-var date=String(date).substring(0,24);
			-var data=[m.Content,m.TopicName,m.TopicAuthor,date,m._id];
			-var reply2=new Array();
			-var date2;
			-for x in reply
				-if(oid==x.TopicID)
					-var date2=x.Time;//回文時間
					-var date2=String(date2).substring(0,24);
					-reply2=reply2+[,x.Content,x.ReplyAuthor,date2];
			ul(onclick="CollapseExpand('forum_frame','#{data}','#{reply2}')")
				li(class='number')= i
				li.comment=m.TopicName
				li.title=m.Content
				li.author=m.TopicAuthor
				li.data=date
			-i++
	.hidden#forum_frame(onclick="CollapseExpand('forum_frame')")
		.content_frame#content_frame
			.content
				h3.content_title#title
				.content_time#time
				.content_author#author
				.content_content#content
			.reply 回應
			#reply
			.forum_button#forum_button
				div
					button(onclick="CollapseExpand('forum_frame')") 返回
					-if(con==1)
						button(onclick="startReply('reply_box')") 回應
			.reply_button
				-if(con==1)
					button(onclick="startReply('reply_box')") 回應
				button#backtothetop 返回頂端
			.hidden#reply_box
				h3 回應
					div
						form(name="Problem_Reply" method="POST" action='/forum_problem_reply')
							textarea(name='Problem_Reply_Content' placeholder="請輸入回應文字" rows="7" cols="70")
							input(type='hidden' name='TopicID' value='')#Reply_TopicID
					.box_button
						button(onclick="Problem_Reply_submitform()" ) 送出
						button(onclick="startReply('reply_box')") 取消
	.hidden#topic_box
		h3 發表新主題
		div
			form(name="Problem_Form" method="POST" action='')
				div 標題：
					input(name="Problem_Title" type='text' )
				textarea(name='Problem_Topic_Content' placeholder="請輸入發表文字" rows="20" cols="100")
		.box_button
			button(onclick="Problem_submitform()" ) 發表
			button(onclick="startTopic('topic_box')") 取消
	include login_register
block scripts
	script(type="text/javascript" language="javascript" src='/javascripts/submit.js' charset='utf-8')
	script(src='/javascripts/login.js')
	script(src='/javascripts/register.js')

	